{% extends 'base.html.twig' %}

{% block title %}PAGE TITLE!{% endblock %}
{% block description %}PAGE DESCRIPTION{% endblock %}
{% block body %}
    <div style="text-align: center">PAGE CONTENT</div>
{% endblock %}
