{% extends 'base.html.twig' %}

{% block title %}Log index{% endblock %}

{% block body %}
    <h1>Log index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Instruction_letter</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Load_location</th>
                <th>Time_depart</th>
                <th>Location</th>
                <th>Event</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for log in logs %}
            <tr>
                <td>{{ log.id }}</td>
                <td>{{ log.instructionLetter }}</td>
                <td>{{ log.date ? log.date|date('d-m-Y') : '' }}</td>
                <td>{{ log.amount }}</td>
                <td>{{ log.loadLocation }}</td>
                <td>{{ log.timeDepart ? log.timeDepart|date('H:i') : '' }}</td>
                <td>{{ log.location }}</td>
                <td>{{ log.event }}</td>
                <td>
                    <a href="{{ path('log_show', {'id': log.id}) }}">show</a>
                    <a href="{{ path('log_edit', {'id': log.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('log_new') }}">Create new</a>
    {% endif %}

{% endblock %}
