{% extends 'base.html.twig' %}

{% block title %}Log{% endblock %}

{% block body %}
    <h1>Log</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ log.id }}</td>
            </tr>
            <tr>
                <th>Instruction_letter</th>
                <td>{{ log.instructionLetter }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ log.date ? log.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ log.amount }}</td>
            </tr>
            <tr>
                <th>Load_location</th>
                <td>{{ log.loadLocation }}</td>
            </tr>
            <tr>
                <th>Time_depart</th>
                <td>{{ log.timeDepart ? log.timeDepart|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ log.location }}</td>
            </tr>
            <tr>
                <th>Event</th>
                <td>{{ log.event }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('log_index') }}">back to list</a>

    <a href="{{ path('log_edit', {'id': log.id}) }}">edit</a>
    {% if is_granted('ROLE_ADMIN') %}
    {{ include('log/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
