<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% block stylesheets %}{% endblock %}
</head>
<body>
<body>

<nav class="site-header sticky-top py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2 d-none d-md-inline-block" href="{{ path('default') }}">Home</a>
        {% if is_granted('ROLE_ADMIN') %}
          <a class="py-2 d-none d-md-inline-block" href="{{ path('truck_index') }}">Trucks</a>
          <a class="py-2 d-none d-md-inline-block" href="{{ path('log_index') }}">Logs</a>
            {% elseif is_granted('ROLE_USER') %}
          <a class="py-2 d-none d-md-inline-block" href="{{ path('log_index') }}">Logs</a>
          <a class="py-2 d-none d-md-inline-block" href="#"></a>
            {% else %}
            <a class="py-2 d-none d-md-inline-block" href="#"></a>
            <a class="py-2 d-none d-md-inline-block" href="#"></a>
        {% endif %}

        <br>
        {% if app.user %}
            <a class="py-2 d-none d-md-inline-block" href="{{ path('fos_user_security_logout') }}">logout</a>
            <a class="py-2 d-none d-md-inline-block" href="{{ path('fos_user_profile_show') }}">profile</a>
        {% else %}
        <a class="py-2 d-none d-md-inline-block" href="{{ path('fos_user_security_login') }}">login</a>
        <a style="margin-right: 15px;" class="py-2 d-none d-md-inline-block" href="{{ path('fos_user_registration_register') }}">register</a>
        {% endif %}
    </div>
</nav>

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">{% block title %}{% endblock %}</h1>
        <p class="lead font-weight-normal">{% block description %}{% endblock %}</p>
        {#<a class="btn btn-outline-secondary" href="#">Coming soon</a>#}
    </div>
    <div class="product-device box-shadow d-none d-md-block"></div>
    <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
</div>

</body>
{% block body %}{% endblock %}
{% block content %}
    {% block fos_user_content %}{% endblock %}
{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
