{% extends 'base.html.twig' %}

{% block title %}Truck index{% endblock %}

{% block body %}
    <h1>Truck index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>License_plate</th>
                <th>Brand</th>
                <th>Build_date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for truck in trucks %}
            <tr>
                <td>{{ truck.id }}</td>
                <td>{{ truck.licensePlate }}</td>
                <td>{{ truck.brand }}</td>
                <td>{{ truck.buildDate }}</td>
                <td>
                    <a href="{{ path('truck_show', {'id': truck.id}) }}">show</a>
                    <a href="{{ path('truck_edit', {'id': truck.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('truck_new') }}">Create new</a>
{% endblock %}
