{% extends 'base.html.twig' %}

{% block title %}Truck{% endblock %}

{% block body %}
    <h1>Truck</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ truck.id }}</td>
            </tr>
            <tr>
                <th>License_plate</th>
                <td>{{ truck.licensePlate }}</td>
            </tr>
            <tr>
                <th>Brand</th>
                <td>{{ truck.brand }}</td>
            </tr>
            <tr>
                <th>Build_date</th>
                <td>{{ truck.buildDate }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('truck_index') }}">back to list</a>

    <a href="{{ path('truck_edit', {'id': truck.id}) }}">edit</a>

    {{ include('truck/_delete_form.html.twig') }}
{% endblock %}
